{{- if gt (int .Values.agent.metricsPort) 0 }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cw-agent.fullname" . }}
  labels:
    {{- include "cw-agent.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "cw-agent.selectorLabels" . | nindent 4 }}
{{- end }}
